<app-navbar></app-navbar>


<div class="container d-flex flex-wrap mt-5 justify-content-between">
    <div>
       <h1 class="text-white">Trending Movies</h1>
       <h6 class="text-white">Trending movies that available in netflix at 4k Ultra HD @Rs.200/month</h6>
    </div>
  <div class="icons">
    
    <img
    src="https://cdn-icons.flaticon.com/png/512/3357/premium/3357628.png?token=exp=1646817810~hmac=3ad6d3fb4d89f350b1f296e4607a953a"
    height="55"
    width="55"
    class="sliderArrow left"
  />
  
  <img
        src="https://cdn-icons.flaticon.com/png/512/3357/premium/3357628.png?token=exp=1646817810~hmac=3ad6d3fb4d89f350b1f296e4607a953a"
        height="55"
        width="55"
        class="sliderArrow right"
       
      /> 
      
  </div>
  </div>

<ul class="d-flex container">
    <div class="d-flex justify-content-between wrapper">
      <li *ngFor="let r of results" class="movie-list">
        <div class="m-2 p-2" >
          <img
            src="{{ image_url }}{{ r.poster_path }}"
            alt=""
            height="300"
            width="200"
          />
          <h6 class="text-center mt-2 text-white">{{ r.name }}</h6>
        </div>
      </li>  
    </div>
  </ul>
   
    